{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Delete Tweet
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Are you sure you want to delete this tweet?</h3>
            <form method="post">
                {% csrf_token %}
                <div">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                    <a class="btn btn-info" href="{% url 'tweet_list' %}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
